@import 'tailwindcss';

@theme {
  --animate-fadein-fadeout: fadein-fadeout 2s ease-in-out;
  @keyframes fadein-fadeout {
    0% {
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}
